:root {
  --bg-color: rgb(221, 56, 84);
  --border: 5px solid var(--bg-color);
  margin: 10px;
}

body {
  margin: 0;
}

.App {
  display: flex;
  flex-direction: column;
  color: black;
  font-weight: bold;
}
