:root {
  --bg-color: rgb(221, 56, 84);
  --border: 5px solid var(--bg-color);
  margin: 10px;
}

body {
  margin: 0;
}

.App {
  display: flex;
  flex-direction: column;
  color: black;
  font-weight: bold;
}

.App-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  /* font-weight: bold; */
  font-size: 25px;
  border-bottom: var(--border);
  color: var(--bg-color);
}

.App-header img {
  width: 240px;
  height: 230px;
}

.App-body {
  flex-grow: 4;
  margin-top: 40px;
  margin-left: 60px;
  font-size: 18px;
  /* font-weight: bold; */
}

.App-footer {
  border-top: var(--border);
  text-align: center;
  margin-top: 360px;
  font-style: italic;
}

input {
  margin: auto 10px;
}

p {
  font-size: 20px;
}
