:root {
  --bg-color: rgb(221, 56, 84);
  --border: 5px solid var(--bg-color);
}

body {
  margin: 0;
}

p {
  font-size: 18px;
}
.App {
  display: flex;
  flex-direction: column;
  color: black;
}

.App-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-weight: bold;
  border-bottom: var(--border);
  color: var(--bg-color);
}

.App-header img {
  width: 240px;
  height: 230px;
}

.App-body {
  flex-grow: 4;
  margin-top: 40px;
  margin-left: 60px;
}

.App-footer {
  border-top: var(--border);
  text-align: center;
  margin-top: 350px;
}
