.menuItem {
	position: absolute;
	top: 10px;
	right: 10px;
}

.Notifications {
	position: absolute;
	top: 35px;
	padding: 5px;
	right: 10px;
	border: dashed 2px red;
	font-size: 18px;
}

li[data-notification-type='default'] {
	color: blue;
}

li[data-notification-type='urgent'] {
	color: red;
}

button img {
	transform: scale(0.5);
}
